/* Your code goes below here */

/*
  Examples of position selectors
*/

p em {
  font-size: 28px;
}

p strong {
  font-size: 32px;
}
ul em{
  background-color:darked;
color:blue;
}
ul strong{
background-color: chocolate;
color:coral
}
/* Your code goes above here */